@model List<Product>

<div class="text-center">
    <h1 class="display-4">Preparatevi a morire con le nostre pizze</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<ul> @foreach(var item in Model)

    {
        
        <li> @item.Name  € @item.Price </li>
    }




</ul>
